


.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 20% 15%;
    grid-template-rows: 15% 25% 1fr 10%;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    grid-template-areas: 
    'hd sr nv'
    'tp tp tp'
    'mn as as'
    'ft ft ft';
}

header {
    grid-area: hd;
    display: flex;
    background-color: #2980b9;
    
}

#searchbararea {
    grid-area: sr;
    display: flex;
    justify-content: center;
     align-content: center;
     background-color: #2980b9;
}

#Searchbar {
    height: 50px;
    width: 90%;
    margin-top: 4.5vh;
    border-radius: 20px;
    border-color: black;
    
}

nav {
    grid-area: nv;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2980b9;
    height: 100%;   
}

.listItems {
    margin-left: 20px;
}
.listItems p {
    margin: 0;
    color: white;
    
}